fastapi
uvicorn
chromadb
pydantic
python-multipart
pypdf
langchain
langchain_community
langchain-groq
pymongo[srv]

# Install CPU-only PyTorch
torch
sentence-transformers
transformers
huggingface-hub


easyocr
